<!DOCTYPE html>
<html lang="en">

<head>
  
  
  <meta name="keywords" content="skydiving, parachute, frefall, plane, fly, flying, glide, tandem" />
  <meta name="description" content="Cateva informatii despre parasutismul din Romania si din Lume." />
  
  <title>Skydiving-shop</title>
  <%- include ("../fragmente/head") %>


</head>

<body>
  <%- include ("../fragmente/header") %>  <!-- afiseaza rezultatul functiei-->
  <main id="home">
    <div id="galerie_st">
      
      <%- include ("../fragmente/galerie_statica.ejs") %>
    </div>
  </main>

  <%- include("../fragmente/footer.ejs") %>
  <div class="banner">
    ACESTA ESTE UN PROIECT SCOLAR <br />SI TREBUIE TRATAT CA ATARE
  </div>
</body>

</html>