<!DOCTYPE html>
<html lang="en">

<head>
  
  
  <meta name="keywords" content="skydiving, parachute, frefall, plane, fly, flying, glide, tandem" />
  <meta name="description" content="Cateva informatii despre parasutismul din Romania si din Lume." />
  

  
  <title>Skydiving-shop</title>
  <%- include ("../fragmente/head") %>
  <link rel="stylesheet" type="text/css" href="/resurse/Style/main_tips.css" />


</head>

<body>
  <%- include ("../fragmente/header") %>  <!-- afiseaza rezultatul functiei-->
  <main id="main_tips">
        <p id="atention"><strong>Atention!!</strong>Do not go skydiving if you have any <strong>severe medical problems.</strong></p>
        
        <h2 id = "tips_list">Safety Tips to keep in mind:</h2>
        <section id="tip1">
            <h3>1.Get your Body Right!</h3>
            <img src="/resurse/Poze/tip1.jpg" alt="">
            <p>You don’t need to be physically fit to go skydiving, but it can be really helpful to do a few warm up exercises and stretches 
                to get your body and muscles feeling loose. Remember, you’ll be freefalling at more than 120mph (190kph), so it’s important that 
                your body is completely relaxed while in the air. Do some jumping jacks or run in place on the morning of your jump; and don’t 
                forget to do some simple stretches, especially for your neck . If you have any medical conditions, consult 
                with your physician before attempting any skydive.</p>
        </section>
        <section id="tip2">
            <h3>2. It’s All in the Mind</h3>
            <img src="/resurse/Poze/tip2.jpg" alt="">
            <p>You’re jumping OUT of a plane! Okay, now that the elephant has been addressed, feel free to relax now. I know it’s easier said 
                than done, but you’re paying for an unforgettable experience, so you should definitely enjoy every penny of it. It’s always a 
                good idea to educate yourself on skydiving by watching videos or reading articles about it, but try not to focus and overreact 
                to any negative headlines and psyche yourself out in the process (see point 5 below). If you still feel uneasy on the day of your 
                jump, try some meditation to help rest and relax your emotions and steady your mind.</p>
        </section>
        <section id="tip3">
            <h3>3. Take it Easy and Breathe</h3>
            <img src="/resurse/Poze/tip3.jpg" alt="">
            <p>This may sound unusual, but knowing how to breathe correctly is important when you’re up in the air. Avoid hyperventilation by taking 
                deep, slow breaths instead of short, quick successive breathes. Stay calm, relax and listen to your instructor who shall no doubt 
                walk you through this like a pro; and if you feel the slightest bit uneasy, be sure to let him or her know about it. Despite what you 
                may think, breathing is not difficult and should be able to breathe like normal, as if you were on the ground. If you do experience any 
                difficulty in breathing, it’s probably because you’re head is tilted too low causing the wind to rush at your face and into your nose at
                 an odd angle. But there’s no need to panic, just tilt your head back, keep your eyes aimed towards the horizon and breathe through your 
                 mouth if necessary.</p>
        </section>
        <section id="tip4">
            <h3>4. Be Like the Banana, My Friend</h3>
            <img src="/resurse/Poze/tip4.jpg" alt="">
            <p>As I was being fitted for my harness, my instructor calmly pointed to an adjacent wall, where a photo of a banana, juxtaposed next to a 
                skydiver, could be found. “Today, my friend,” he coolly remarked. “You’re favorite fruit will be a banana.” In other words, your body 
                should mimic the shape of a banana when you’re in mid-air, which means that your head should be tilted back, eyes looking straight ahead 
                towards the horizon, back arched, arms comfortably extended to the sides, and legs relaxed with the soles of your feet aimed up towards the sky.</p>
        </section>
        <section id="tip5">
            <h3>5. Don’t Believe the Hype!</h3>
            <img src="/resurse/Poze/tip5.jpg" alt="">
            <p>More than likely you’ll be jumping at around 13,000 feet (3,962 meters), and understandably it can look and feel terrifying to
                 peer through the airplane window to the ground below. But despite the sensational headlines you may have read, skydiving is actually 
                 very safe. According to the United States Parachute Association (USPA), out of the estimated 3.2 million annual skydive jumps that occurred 
                 in the United States in 2014, there have been 24 fatalities reported (that’s eight deaths per one million jumps).In other words, if you can 
                 accept the risk of driving your car to work every day or taking a flight to that long-awaited vacation spot, then why shouldn’t you go skydiving?</p>
        </section>
        <section id="tip6">
            <h3>6. Enjoy the Morbid (and Hilarious) Sense of Humor of Skydivers</h3>
            <img src="/resurse/Poze/tip6.jpg" alt="">
            <br>
            <q>What’s the hardest part about skydiving? (The ground.)</q>
            <q>No one has ever complained of a parachute not opening.</q>
            <q>You don’t need a parachute to skydive. You need a parachute to skydive twice. </q> 
            <p>You know, there’s something oddly reassuring about a group of skydivers who are only half-joking about death. But, to be honest, I feel that’s
                 a good thing, since I’m sure many first-time jumpers will naturally feel a tinge of anxiety before a jump. And there’s no better way to offset
                  the potential angst of a nerve-wracking experience than with a healthy dose of laughter.</p>
        </section>
        <section id="tip7">
            <h3>7. Safety is Paramount</h3>
            <img src="/resurse/Poze/tip7.jpg" alt="">
            <p>Don’t ever mistake the relaxed personality of your instructor or his slew of witty jokes (though you should admit it’s a great ice breaker) 
                as a sign of carelessness, because safety is absolutely paramount above all else. These guys and girls are consummate professionals who do 
                this as their JOB every single day (In fact, my instructor was scheduled to do seven jumps that day!) All skydiving instructors must be certified
                 with a class D license and have completed at least 500 total jumps. Go online and check to see if the credentials of your skydiving company and 
                 instructor are properly certified.</p>
        </section>
        <section id="tip8">
            <h3>8. What to Bring</h3>
            <img src="/resurse/Poze/tip8.jpg" alt="">
            <p>Wear loose, but comfortable clothing, such as a T-shirt, pants and sneakers. It may feel a slight chilly up there but when you leap out of 
                the plane your adrenaline will no doubt kick in and the cold won’t affect you, so a jacket or hoodie won’t be necessary. Bring cash 
                to buy some food or drink, photo/video package (you’ll definitely want to remember you’re first jump with a video, trust me), and some
                 money to leave a tip for your instructor. The earlier in the day you arrive the less time you’ll need to wait around, but feel free to bring 
                 some playing cards or chat with your fellow skydivers to occupy your time.</p>
        </section>
        <section id="tip9">
            <h3>9. How Does it Really Feel to Fall Through the Sky?</h3>
            <img src="/resurse/Poze/tip9.jpg" alt="">
            <p>Absolutely amazing! That’s the short answer, but nothing can quite prepare you for the moment when you finally muster the courage to peer 
                over edge of the opened fuselage door, leap out of a plane at 13,000 feet and free fall at more than 120mph through the sky. It’s 
                terrifying yet exciting at the same time, especially knowing that the only thing stopping you from attempting a second jump is the singular 
                hope that your instructor properly packed your parachute that morning (by the way, all instructors, and obviously mine included, are required 
                to inspect each pack before going up).</p>
            <p>For those brief 60 seconds that you’re in free fall, it oddly feels that you’re suspended in mid-air because there’s nothing in your
                 immediate surroundings to help properly gauge just how fast you’re truly falling. It almost feels like you’ve fallen in a gigantic pool 
                 of quicksand, filled only with high-speed wind and slowly sinking towards the ground (albeit at 176 feet per second!).</p>
        </section> 
  </main>

  <%- include("../fragmente/footer.ejs") %>
  <div class="banner">
    ACESTA ESTE UN PROIECT SCOLAR <br />SI TREBUIE TRATAT CA ATARE
  </div>
</body>

</html>




