<footer id="foot">
    <p>
      <small>&#169; Created by
        <a href="https://www.facebook.com/cosmy.lucian/">Cosmin Lucian</a></small>
    </p>
    <p>
      <small>Creat in data de:<time datetime="2021-03-07 12:00">2021-03-07 12:00</time></small>
    </p>
    <address>
      <small>
        Address:Main Street 1234, Bucharest <br />
        Romania<br />
        Email:<a href="mailto:cosminlucian488@gmail.com">cosminlucian488@gmailc.com</a><br />
        Phone: <a href="tel:+0768282201">0677885566</a><br />
      </small>
    </address>
    <p>
      <small><a class="gotop" href="#top" title="Back to the top"><span id="triangle">&#5123;</span></a></small>
    </p>
  </footer>