<header>
    <h1 id="nav_2"><span>Sky</span>diving<img src="/resurse/Poze/h1_icon.png" /></h1>
  </header>
  <nav id="navbar">
    <button id ="theme"><i class="fas fa-moon"></i></button>
    <label for="input-hamburger" id="hamburger">
      <img src="/resurse/Poze/burger2.png" alt="" />
    </label>
    <input type="checkbox" id="input-hamburger" hidden />
    <ul class="menu" id="nav_1">
      <li>
        <a href="/index"><i class="fas fa-home fa-lg icon"></i><span id="home-btn"> Home</span></a>
      </li>
      <li>
        <a class="has-dropdown" href="#locations">Locations-RO<span class="arrow"></span></a>
        <ul class=".submenu">
          <li><a href="">TNT-Brothers</a></li>
          <li><a href="">ComeFly</a></li>
          <li><a href="">Benzoi</a></li>
          <li><a href="">GoJump</a></li>
          <li><a href="">Skydiving C</a></li>
          <li><a href="">Paramania</a></li>
        </ul>
      </li>
      <li>
        <a href="/products">Shop <span class="arrow"></span></a>
        <ul>
          <li><a href="/products">All</a></li>
          <li><a href="/products?type=main">Main</a></li>
          <li><a href="/products?type=reserve">Reserve</a></li>
          <li><a href="/products?type=tandem">Tandem</a></li>
          <li><a href="/products?type=emergency">Emergency</a></li>
        </ul>
      </li>
      <li>
        <a href="/tips">T & T<span class="arrow"></span></a>
        <ul>
          <li><a href="/tips">Tips</a></li>
          <li><a href="">Questions</a></li>
        </ul>
      </li>
      <li>
        <a href="/galery">Galery<span class="arrow"></span></a>
        <ul>
          <li><a href="/galery">Static</a></li>
          <li><a href="/animation">Animation</a></li>
          
        </ul>
      </li>
    </ul>
  </nav>